body{
	background-color:black;
	color:white;
	font-size: 25px;


}

section{
	overflow: hidden;
	font-size: 0,1rem;
	border: 2px solid green;
	border-radius: 25px;
	padding: 0px;
}
#title{
	background-color: #444444;
	/* border-radius: 25px; */
	padding: 10px;
	text-align: center;
}
.braket{
	background-color: gray;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
.braket p{
	animation:run 20s ease-in-out infinite;
}
@keyframes run {
	0%{
		transform: translateX(-40%);
	}
	50%{
		transform: translateX(40%);
	}
	100%{
		transform: translateX(-40%);
	}
}