body{
    background-color:black;
    color: aliceblue;

}
.demo{
    border: 2px solid aqua;
    animation: fadeIn 2s ease-in forwards;
}
@keyframes fadeIn {
    from{opacity: 0;}
    to {opacity: 1;}
}
.demo0{
    border: 2px solid aqua;
    animation: fadeout 2s ease-out forwards;
}
@keyframes fadeout {
    from{opacity: 0;}
    to {opacity: 1;}
}
.demo1{
    border: 2px solid aqua;
    animation: move 2s ease-in forwards;
}
@keyframes move {
    from{
        transform: translateY(-200px)translateX(-200px);
        /*transform:;*/
        opacity: 0;}
    to {
        transform: translateY(0px) translateX(0px);
        /*transform:translateY(0px);*/
        opacity: 1;}
}