body{
	background-color:black;
	color:white;
	font-size: 25px;


}
.lightmode{
	background-color: white;
	color: black;
	font-size: 25px;

}
section{
	border: 3px solid green;
	border-radius: 25px;
	padding: 0px;
	margin: 20px;
	min-height: 75vh;
}
.title{
	padding: 10px;
	text-align: center;
}


.reveal {
	opacity: 0;
	transform: translateY(50px); 
	transition: all 1s ease-out; 
  }
  
  .reveal.active {
	opacity: 1;
	transform: translateY(0);
  }
.circle {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: fixed;    
    pointer-events: none;
    z-index: 1;    
    transform: translate(50%, 50%); 
}